body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-red {
  background-color: rgb(200, 69, 69);
}

.overflow-y-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}

.wpx-240 {
  width: 240px !important;
}
.wpx-480 {
  width: 480px;
}
.wpx-720 {
  width: 720px;
}
.wpx-960 {
  width: 960px;
}
.wp-50 {
  width: 50%;
}
.wp-100 {
  width: 100%;
}

.hpx-240 {
  height: 240px !important;
}
.hpx-480 {
  height: 480px !important;
}
.hpx-720 {
  height: 720px !important;
}
.hp-50 {
  height: 50%;
}
.hp-100 {
  height: 100%;
}